<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <script th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title>Faktury VAT</title>
</head>
<body>

    <form th:action="@{/invoice/new}" method="post">

        <p>Date: <span th:text="${date}"></span></p>
        <p>nr FV: <span th:text="${invoiceNum}"></span></p>


        <div width="100">
            <select class="form-control" th:field="${customers}"  id="dropOperator">
                <option value="0" label="Wybierz Kontrahenta" ></option>
                <option th:each="customer : ${customers}" th:value="${customer.name}" th:text="${customer.name}"></option>
            </select>
        </div>


    </form>

</body>
</html>